@media screen and (min-width: 1400px)  {
   
    .banner-over-pic3 { left: 42%; }
    .banner-over-pic { right: 11%;}
    .banner-over-pic2 { right: 28%;}
 }
 
 @media screen and (min-width:1100px) {
  .banner-bottom-text {bottom: 117px;} 
  .counter, .plussign { font-size: 40px;}
  .str-box {
     padding: 28px 10px 0;
  }
  .strength-icon li img { width: 60px;}
  .video-box a.videoBtn {text-align: center;}
 }
 @media screen and (max-width:1100px) {
 .banner-over-pic3 p {
   clear: both;
   text-align: center;
 }
 .strength-icon li img { width: 60px;}
 .reg-text span { font-size: 20px;}
 .feature-on.bottom-feature .nbs-flexisel-container , .feature-on .nbs-flexisel-container {
   float: right;
   width: 100%;
 }
 .banner-over-pic3 {
     left: 430px;
     top: 40px;
 }
 .banner-over-pic3 { line-height: 47px;font-size: 40px;}
 .banner-over-pic3 {
     left: 430px;top:75px;
 }
 .banner-over-pic { right: 10px;}
 .banner-over-pic3 .title-text { font-size: 32px;}
 .banner-over-pic3 .text1 { font-size: 38px;}
 .our-core-service .nbs-flexisel-nav-right {
   left: auto;
   right: 7px;
   top: -127px !important;
   z-index: 2147483647;
 }
 .our-core-service .nbs-flexisel-nav-left {
   left: auto;
   right: 36px;
   top: -127px !important;
   z-index: 9999999;
 }
 .container {
     width:100%;
     max-width: 100%;
     margin:0 auto;
 }
 .banner {
     background-size: 100% 100%;
 }
 .banner-over-pic2 {
     bottom: 61px;
     right: 265px;
 }
 .banner-bottom-text{bottom:115px;}
 .banner-bottom-text .container-inside {}
 .coun {}
 .logo-icon-div ul {margin: 65px 0px 0;}
 .logo-icon-div li img {
     max-height: 39px;
     max-width: 62px;
 }
 .banner-bottom-text .container-inside::after {
     background: rgba(0, 0, 0, 0) url("../images/limca-medal.png") no-repeat scroll 0 0 / 157px auto;
     content: "";
     height: 183px;
     left: -70px;
     position: absolute;
     top: -4px;
     width: 286px;
 }
 .strength-icon li {width: 24%;}
 .str-box {
     padding: 15px 3px 0;
 }
 .pro-shift {}
 .pro-shift img {
     width: 100%;
     height: auto;
 }
 .our-usp-left li span { margin: 10px 12px;}
 .core-service-left {}
 .core-service-left ul li { width: 45%;}
 .core-service-heading{margin-top:20px;}
 .feature-on ul li {
   float: left;
   margin-right: 17px;
   min-height: 53px;
 }
 marquee {
   float: right;
   width: 100%;
 }
 .sm-hed {
   margin-top: 14px;
   min-height: inherit;
   width: 100%;
   float: left;
   margin-bottom: 13px; min-height:inherit;
 }
 .full {
   color: #fff;
   overflow: hidden;
   width: 33%;
   float: left;
 }
 .cov {
   box-sizing: border-box;
   float: left;
   margin-bottom: 7px;
   min-height: 176px;
   padding: 14px 16px;
   width: 34%;
 }
 .our-core-service .container {
  
   width: 100%;
 }
 .our-core-service .nbs-flexisel-nav-left , .our-core-service .nbs-flexisel-nav-right {
    top: -12px !important;
  
 }
 .full-text {
    bottom: -65px;
 }
 .core-service-right {}
 .feature-on {
     width: 98%;
 }
 .heading{margin-bottom:0;}
 .center-box {margin: 55px 0 0 93px;}
 .form {margin-left: 10px;}
 .banner-over-pic img {
     width: 270px;
 }
 .banner-bottom-text .container-inside{
     padding: 0px 0px 0px 172px;
 }
 .banner-bottom-text .container-inside img {width: 80px;}
 .banner-bottom-text .container-inside img:last-child {
     width: 198px;
 }
 
 }
 
 
  @media screen and (max-width:1000px) {
     
 .full > img {
     width: 100%; 
 }
 .feature-on.bottom-feature .nbs-flexisel-nav-left, .feature-on.bottom-feature .nbs-flexisel-nav-right , .feature-on .nbs-flexisel-nav-left, .feature-on .nbs-flexisel-nav-right {
   display: block; background:url(../images/bx_arrow_black.png) 0 0 no-repeat; top:-31px !important;
 }
 .feature-on.bottom-feature .nbs-flexisel-nav-right  , .feature-on .nbs-flexisel-nav-right{
   background-position: -71px 0;
 }
 .feature-on.bottom-feature .nbs-flexisel-container li , .feature-on .nbs-flexisel-container li{margin-right:0;}
 .banner .container{width: 100%;}
 .coun {}
 .counter {
    font-size: 30px;
 }
 .coun > span {
    font-size: 10px;
  
 }
 .cov {
   box-sizing: border-box;
   float: left;
   margin-bottom: 7px;
   min-height: inherit;
   padding: 14px 16px;
   width: 100%;
 }
 .full {
    width: 50%;
 }
      
 .logo-left {
    margin-left: 0;
 }
 .logo-left img{width: 80%;}
 .logo-right {
     margin-right: 12px;
 }
 .logo-right img{width: 80%;}
 .call { font-size: 17px;
     width: 160px;
 }
 .call img{width: 27px;}
 .banner {
     height: auto;
 }
 .form {
     background: #f8c301 none repeat scroll 0 0;
     padding: 15px 22px;
     position: relative;
     top: 25px;
     width: 280px;
     margin-left: 20px;
 }
 .form ul li {
     position: relative;
     margin-bottom: 10px;
 }
 .form ul li input { font-size: 12px;}
 .respnsive-banner img {
     display: block;
     height: auto;
     width: 100%;
 }
 .banner-over-pic2 {
     bottom: 100px;
     left: auto;
     right: 205px;
 }
 .banner-over-pic2 img {
     height: auto;
     width: 160px;
 }
 .form ul li.sub-but-li {
     width: 34% !important;
 }
 .form ul li.sub-but-li input{width:80px;}
 .form ul li.two-li{margin-bottom: 0px;}
 .form ul li.two-li input {
     width: 100%;
     left: 0px !important;
 }
 .form ul li.two-li input:first-child {
     margin-right: 0%;
     margin-bottom: 10px;
 }
 .banner-bottom-text .container-inside { text-align: center;
     padding: 0 0px 0 132px;}
 .banner-bottom-text .container-inside::after {
     background: rgba(0, 0, 0, 0) url("../images/limca-medal.png") no-repeat scroll 0 0 / 113px auto;
     content: "";
     height: 183px;
     left: 7px;
     position: absolute;
     top: 36px;
     width: 272px;
 }
 .banner-bottom-text {
     bottom: 100px;
 }
 .pro-shift {
     float: none;
     margin: 23px auto;
     position: relative;
     width: 70%;
 }
 .our-usp {
     float: right;
     width: 100%;
 }
 .left-slider {
     width: 50%;
 }
 .right-slider {
     width: 50%;
 }
 .half {
     height: auto;
 }
 .half-text {
     margin: 7% auto;
     position: relative;
     width: 80%;
 }
 .footer p{padding:0 10px;}
 .banner-over-pic3 span {
     line-height: 14px;
     margin-right: 6px;
     font-size: 14px;
     width: 70px;
 }
 .banner-over-pic3 p {
     font-size: 11px;
     margin-left: 0;
     padding: 0;
     text-align: center;
 }
 .form-heading {font-size: 18px;}
 .reg-text span.text1 {
     font-size: 19px;
 }
 .logo-icon-div li img {
     max-height: 45px;
     max-width: 70px;
 }
 
 }
  @media screen and (max-width:800px) {
 .header {margin-top: -8px;}
 .center-box {
     margin: 44px 0 0 0px;
 }
 .marg-top {
     margin-top: 90px;
 }
 .half-text {
   margin: 10px auto 0;
   position: relative;
   width: 92%;
   padding-bottom: 20px;
 }
 .poputext{width:90%; box-sizing:border-box; padding:20px;}
 .banner-over-pic3 {
     top: 60px;
     left: 335px;
     line-height: 30px;
     font-size: 28px;
 }
 .banner-over-pic3 .text1 { font-size: 24px;}
 .banner-over-pic3 .title-text {
     font-size: 18px;
     line-height: 36px;
     padding-left: 6px;
     margin-top: 3px;
 }
 .client-dst {
   float: right;
   width: 149px;
 }
 .tab-heading {
   font-size: 16px;
   padding-top: 9px;
 }
 .texttab {
    margin-bottom: 15px;
 }
 .footer p a {
   border-left: 0;
   color: #cfcfcf;
   margin-left: 10px;
   padding-left: 13px;
   display: inline-block;
 }
 .banner-over-pic img {
     height: auto;
     width: 199px;
 }
 .banner-over-pic {
     top: 116px;
 }
 .banner-bottom-heading span {
     font-size: 19px;
 }
 .pro-shift {
     float: none;
     margin: 0px auto;
     position: relative;
     width: 100%;
 }
 .top-heading span { padding-bottom: 30px;}
 .full-width-box {
     clear: both;
 }
 .tab > ul {
     float: left;
     width: 100%;
 }
 .our-usp {
     float: right;
     width: 100%;
     margin-bottom: 13px;
 }
 .our-usp-left .tab {
     padding: 10px 30px 10px;
 }
 .our-usp-right .contant-info {
     width: 80%;
     margin: 10px auto;
 }
 .str-box {
     padding: 10px 0px 0;
 }
 .tab-heading {
     font-size: 16px;
 }
 .respon {
     display: none;
     clear: both;
 }
 .tab-container {
     width: 100%;
     border: 0;
     padding: 0px;
 }
 .core-service-right {
     width: 100%;
     min-height: 300px;
 }
 .core-service-left {
     width: 100%;
     min-height: auto;
 }
 .full-text {
     bottom: 0;
 }
 .footer p {
     font-size: 13px;
 }
 .client-say .nbs-flexisel-nav-left, .client-say .nbs-flexisel-nav-right {
     top: 230px !important;
 }
 .banner-bottom-text .container-inside img {width: 47px;}
 .banner-bottom-text .container-inside img:last-child { width: 140px;
     margin-left: 10px;
     padding-left: 10px;
 }
 .logo-icon-div ul {
     margin: 19px 0px 10px 20px;
     text-align: center;
     width: 95.5%;
 }
 .container {
     width: 100%;
     margin: 0 auto;
     max-width: 98%;
 }
 .nation-heading {width: 16%;}
 .marquee-with-options {
     margin-left: 10px;
     width: 82%;
 }
 
 }
  @media screen and (max-width:500px) {
 .our-usp .contant img {
   float: left;
   margin-left: 0;
   margin-right: 10px;
 }
 .banner-over-pic3 {
   font-size: 38px;
   padding: 12px 0px 10px;
   top: 0;width: 100%;
   left: 0;text-align: center;
 }
 .banner-over-pic3 span {
     float: none;
     line-height: 24px;
 }
 .banner-over-pic3 p {
     text-align: center;
     padding-left: 0px;
 }
 .banner-over-pic3 .title-text {
     font-size: 25px;
     line-height: 35px;
     margin-top: 10px;
 }
 .banner-over-pic3 p {
     text-align: center;
     margin-left: 0px !important;    
     font-size: 14px;
 }
 .banner-over-pic2, .banner-over-pic3, .banner-over-pic {
     display: block;
 }
 .banner-bottom-text {
     bottom: 165px;
     left: 10px;
     text-align: left;
 }
 .banner-bottom-text .container-inside img {width: 65px;}
 .banner-bottom-text .container-inside img:last-child { width: 170px;
     margin-left: 10px;
     padding-left: 10px;
 }
 .banner-over-pic {
     top: 187px;
 }
 .banner-over-pic2 {
     bottom: auto;
     left: 25px;
     top: 273px;
 }
 .slider .container{width:100%;}
 .full {
   width: 100%;
 }
 .full  img{width:100%; height:auto;}
 .full-text { min-height:inherit;
   
 }
 .client-say .nbs-flexisel-nav-left, .client-say .nbs-flexisel-nav-right {
   top: 205px !important;
 }
 .coun{width:50%;}
 .counter, .plussign {font-size: 28px;}
 .pro-shift {
   float: none;
   margin: 20px auto;
   padding: 0;
   position: relative;
   width: 99%;
 }
 .top-heading h3 {
     font-size: 24px;
     margin: 30px 0 12px;
 }
 .top-heading span {
     font-size: 24px;
     padding-bottom: 30px;
     line-height: 27px;
 }
 .ei-se {
     margin-top: 5px;
     font-size: 18px;
     letter-spacing: 0px;
 }
 .coun > span {
     font-size: 12px;
 }
 .logo-right > img {
   height: auto;
   width: auto;
 }
 .banner-over-pic img {
     height: auto;
     width: 166px;
 }
 .banner-over-pic {
     top: 187px;
 }
 .logo-left {
     float: left;
     text-align: center;
 }
 .logo-right {
     float: right;
     width: 54%;
 }
 .center-box {
     margin: 30px 0 0 0px;
     width: 46%;
 }
 .marg-top {
     margin-top: 207px;
 }
 .form {
     margin-left: 0px;top: 369px;
 }
 .form ul li.sub-but-li {
     margin-top: 0px;
     width: 31% !important;
 }
 .banner-bottom-text .container-inside {
     padding: 0;
     min-height: auto;
 }
 .banner {
     background: rgb(246, 186, 14) none repeat scroll 0 0;
     height: auto;
 }
 .logo-icon-div {
     margin-top: 95px;
 }
 .logo-icon-div ul { margin: 55px 1px 15px;}
 .logo-icon-div li:nth-child(7n){display:none;}
 .logo-icon-div li:nth-child(8n){display:none;}
 .logo-icon-div li:nth-child(9n){display:none;}
 .logo-icon-div li img {
     max-height: 42px;
     max-width: 60px;
 }
 .tabing-div {
     margin-top: 20px;
     margin-bottom: 25px;
 }
 .our-usp {
     float: none;
     width: 100%;
 }
 .left-slider {
     width: 100%;
     background: #f8c301;
 }
 .right-slider {
     width: 100%;
 }
 
 .half {
     height: auto;
     width: 100%;
 }
 .half-text {
     margin: 17px auto 0;
     position: relative;
     width: 97%;
     padding-bottom: 15px;
 }
 .sm-hed {
     margin-bottom: 8px;
     min-height: inherit;
     width: 100%;
 }
 .nation-heading {
     margin-bottom: 12px;
     min-height: inherit;
     width: 28%;
     padding-left:10px;
 }
 .marquee-with-options { margin-left: 10px;
     width: 67%;}
 .footer p a {
     border-left: 0;
     color: #fff;
     margin-left: 4px;
     padding-left: 13px;
     display: inline-block;
     margin-top: 7px;
 }
 .big-img {
     float: left;
     margin-right: 0px;
     text-align: left;
     width: 100%;
     margin-bottom: 10px;
 }
 .our-usp .contant img {
     float: left;
 }
 .contant {
     padding: 10px 6px;
 }
 .full-text {
   padding: 10px;
 }
 }
  @media screen and (max-width:414px) {
 .container {
     width: 100%;
     margin: 0 auto;
     max-width: 100%;
 }
 .header .container {position:relative;}
 .logo-left {
     float: left;
     text-align: left;
     margin-top: 25px;
     margin-top: 25px;
 }
 .logo-left > img {
     width: 74%;
 }
 .center-box {
     margin: 12px auto 5px;
     width: 100%;
     text-align: center;
 }
 .logo-right {
     float: none;
     width: auto;
     position: absolute;
     right: 0;
     top: 5px;
 }
 .logo-right > img {
     height: auto;
     width: 85px;
 }
 .marg-top {
     margin-top: 132px;
 }
 .banner-over-pic3 span {
     line-height: 18px;
 }
 .banner-over-pic3 .title-text {
     font-size: 18px;
     line-height:30px;
     margin-top: 1px;
 }
 .banner-over-pic3 p {
   clear: both;
   line-height: 12px;
   font-size: 14px;
 }
 .banner-over-pic3 {
     top: 5px;
     line-height: 24px;
     font-size: 24px;
 }
 .banner-over-pic {
     top: 110px;
     right: 0;
 }
 .banner-over-pic2 {
     bottom: auto;
     left: 90px;
     top: 212px;
 }
 .banner-over-pic2 img {
     width: 132px;
 }
 .reg-text span.text1 {
     font-size: 14px;
     line-height: 10px;
 }
 .banner-bottom-text {
     bottom: auto;
     top: 140px;
     left: 20px;
 }
 .banner-bottom-text .container-inside img {
     width: 45px;
 }
 .banner-bottom-text .container-inside img:last-child { width: 132px;}
 .respnsive-banner {
     display: block;background: #f6ba0e;min-height: 150px;
 }
 .logo-icon-div {
     margin-top: 83px;
 }
 .form {
     margin-left: 0px;
     top: 287px;
     width: 100%;
     padding: 15px 50px;
 }
 .logo-icon-div ul {
     margin: 55px 3px 10px;
     width: 96%;
 }
 .form ul li {
     margin-right: 0;
     position: relative;
     width: 100%;
 }
 .logo-icon-div li:nth-child(9n) {
     display: inline-block;
 }
 .logo-icon-div li img {
     max-height: 28px;
     max-width: 46px;
 }
 .banner-bottom-text .container-inside {
     padding: 0px 20px 13px;
     text-align: left;
 }
 .banner-bottom-text .container-inside::after {
     background: rgba(0, 0, 0, 0) url("../images/limca-medal.png") no-repeat scroll center 0 / 113px auto;
     content: "";
     height: 183px;
     left: 0;
     margin: auto;
     position: absolute;
     right: 0;
     text-align: center;
     top: 36px;
     width: auto;
 }
 .pro-shift {
     width: 100%;
 }
 .our-usp-left, .our-usp-right { width: 100%;}
 .core-service-left ul li {
     width: 100%;
     display: block;
 }
 .strength-icon li img {
     width: 40px;
 }
 .right-slider{min-height: 345px;}
 .strength-icon li{    min-height: 120px;
     max-height: 120px;}
 .strength-icon {
     padding: 0px 5px 0px 2px;
 }
 .strength-icon li span {
     line-height: 15px;
 }
 .full-text {
     min-height: auto;
 }
 .feature-on{display:none;}
 .footer p {
     font-size: 10px;
     line-height: 14px;
 }
 .respnsive-banner img {display: none;}
 .footer-icon-box p{font-size: 13px;}
 .our-core-service {
     position: relative;
     min-height: 820px;
 }
 .core-service-left {
     width: 100%;
     min-height: auto;
     position: absolute;
     left: 0;
     bottom: 0;
 }
 .client-say .nbs-flexisel-nav-left, .client-say .nbs-flexisel-nav-right {
     top: 246px !important;
     margin-right: 42px;
 }
 .client-dst {
     float: left;
     width: 215px;
 }
 .logo-icon-div li { max-height: 40px;
     line-height: 20px;
 }
 .video-popup-box {top: 50%;
     left: 0%;
     transform: translate(0%,0%);
     -o-transform: translate(0%,0%);
     -ms-transform: translate(-0%,0%);
     -moz-transform: translate(0%,0%);
     -webkit-transform: translate(0%,0%);
     width: 100%;
     height: 200px;
 }
 .video-popup-box iframe{height: 200px !important;width: 350px !important;margin: 0 auto;}
 .core-service-right {
     width: 100%;
     min-height: 270px;
 }
 
 }
 
 @media screen and (max-width:375px){
 .texttab img{display:none;}    
 .our-usp-right .big-img img{height: auto;}
 .our-usp-right .tab-container{min-height: auto;}
 .top-heading h3 { font-size: 20px; margin-bottom: 5px;}
 .top-heading span { font-size: 20px;}
 .tab-heading {
     font-size: 13px;
 }
 .tab-subheading, .texttab { font-size: 12px; margin-bottom: 5px;}
 .our-usp-left p.subtitle {display: inline-block;}
 .our-usp-left .clear{display:none;}
 .video-box{min-height: 300px;}
 .app-icons img {
     width: 160px;
 }
 .our-core-service {
     min-height: 883px;
 }
 .client-img {
     margin: 0 17px 0 20px;
 }
 .client-dst {
     width: 206px;
 }
 .nation-heading {width: 32%;}
 .marquee-with-options {
     margin-left: 10px;
     width: 62%;
 }
 .client-say .nbs-flexisel-nav-left, .client-say .nbs-flexisel-nav-right {
     top: 235px !important;
     margin-right: 42px;
 }
 .marg-top {
     margin-top: 128px;
 }
 .full-text {
     bottom: -40px;
 }
 
 }
 
 @media screen and (max-width:360px)
 {
 .banner-over-pic3 {
   font-size: 33px;
  }
 .banner-bottom-text .container-inside { padding: 0px 5px 13px;}
 .banner-over-pic2 {left: 60px;}
 .logo-icon-div li img {
     max-height: 24px;
     max-width: 42px;
 }
 .our-usp-left li span {
     margin: 10px 10px;
     padding: 15px 0;
 }
 .our-usp-left{ height: 315px;}
     
 }
 
 @media screen and (max-width:320px){
 .video-box {
     min-height: 275px;
 }
 .video-box a.videoBtn {
     font-size: 24px;
     line-height: 12px;
     top: 40%;
 }
 .app-icons img{
     width: 150px;
 }
 .core-service-right { min-height: 252px;}
 .full-text {
     bottom: -72px;
 }
 .our-core-service {
     min-height: 960px;
 }
 .client-img {
     margin: 0 5px 0 5px;
 }
 .client-dst {
     width: 205px;
 }
 .client-say h3 {
     margin: 5px 0 0 5px;
 }
 .nation-heading {width: 34%;}
 .marquee-with-options {
     margin-left: 5px;
     width: 58%;
 }
 .marg-top {
     margin-top: 124px;
 }
 .form { top: 265px;}
 .logo-icon-div li img {
     max-height: 20px;
     max-width: 40px;
 }
 .form-heading {
     font-size: 16px;
 }
 .banner-over-pic2 img {
     width: 114px;
 }
 .banner-over-pic2 {
     left: 58px;
 }
 .banner-over-pic img{
     height: auto;
     width: 145px;
 }
 .banner-bottom-text .container-inside img {
     width: 40px;
 }
 .banner-bottom-text .container-inside img:last-child {
     width: 116px;
 }
 
 }
 